<div class="container">
    <div class="imageContainer">
        <img src="assets/fifa-logo.png" alt="FIFA logo">
    </div>
    <div class="itemList">
        <div *ngFor="let item of navigationItems; let index=index"
        (click)="onItemClick(index)"
        class="navigationItem">
            <div class="navigationItemHeader">
            <span>{{ item.label }}</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="arrowIcon"
            [ngClass]="getArrowClasses(index)">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3" />
            </svg>
            </div>
            <div class="navigationSubItems"
            *ngIf="clickedItem===index">
                <a class="subItem"
                *ngFor="let subitem of item.items"
                    (click)="navigateTo(subitem.route)">
                    {{ subitem.label }}
                </a>
            </div>
        </div>
    </div>
    <div class='userInfo' (click)="isUserOptionsOpen=true">
    <svg
    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="userIcon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
      </svg>
      <div class="userOptions" *ngIf="isUserOptionsOpen">
          <a class="userOption" (click)="closeSesion()">
              Cerrar Sesión
          </a>
      </div>

    </div>
      
</div>