 @import "main";

.container{
    display: flex;
    position: fixed;
    top: 0;
    left:0;
    flex-direction: row;
    z-index: 10;
    height: 10vh;
    width: 100vw;
    border-bottom: 1px solid gray;
    background-color: #151616;
    gap: 2vw;
}

.imageContainer{
    height: 5vh;
}

img{
    height: 10vh;
}

.navigationItem{
    display: block;
    width: fit-content;
    flex-direction: row;
}

.arrowIcon{
    align-self: center;
    width: 1.2rem;
    height: 1.2rem;
    @include respond(desktop){
        font-size: 2rem;
    }
    @include respond(bigDesktop){
        font-size: 2rem;
    }
}

.arrowUp{
    transform: rotate(180deg);
}
.itemList{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigationItemHeader{
    padding: 0.25rem;
    justify-items: center;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5vw;
    color: #fafafa;
    font-size: 1.5rem;
    font-family: sans-serif;
    cursor:pointer;
    @include respond(desktop){
        padding: 0.4rem;
        font-size: 2rem;
    }
    @include respond(bigDesktop){
        padding: 0.6rem;
        font-size: 2rem;
    }
}


.navigationSubItems{
    position: absolute;
    justify-content: start;
    font-size: 1.2rem;
    color: white;
    top: 10.05vh;
    align-self: center;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: $app-boxes-background-color;
    cursor: pointer;
    @include respond(desktop){
        font-size: 1.5rem;
    }
    @include respond(bigDesktop){
        font-size: 1.5rem;
    }
}

.subItem{
    padding: 0.75rem;
}

.subItem:hover{
    background-color: #333;
}

.userInfo{
    display: flex;
    margin-left: auto;
    margin-right: 5vw;
    justify-self: flex-end;

}

.userIcon{
    cursor: pointer;
    color:$app-text-color
}

.userOptions{
    position: absolute;
    justify-content: start;
    font-size: 1.2rem;
    color: white;
    top: 10.05vh;
    right: 2.5vw;
    min-width: 100px;
    width: fit-content;
    align-self: center;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: $app-boxes-background-color;
    cursor: pointer;
    @include respond(desktop){
        font-size: 1.5rem;
    }
    @include respond(bigDesktop){
        font-size: 1.5rem;
    }

}
.userOption{
    width: fit-content;
    padding: 0.5rem;
}