@import "main";

.pageTitle{
    color: $app-text-color;
    font-family: sans-serif;
    text-align: center;
    font-size: 3rem;
    @include respond(smallLaptop){
        font-size: 2.5rem;
        margin: 1rem;
    }
    @include respond(mediumLaptop){
        font-size: 2.5rem;
        margin: 1rem;
    }
    @include respond(mediumDesktop){
        margin: 1rem;
    }
    @include respond(bigDesktop){
        margin: 1rem;
    }

}

.editPlayerContainer{
    width: 80vw;
    min-width: 80vw;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    justify-self: center;
    background-color: $app-boxes-background-color;
    border-radius: 20px;
    padding:2vh 10vw;
}

.sectionTitle{
    color: $app-text-color;
    font-family: sans-serif;
    text-align: center;
    font-size: 2rem;
    @include respond(smallLaptop){
        font-size: 1.75rem;
        margin: 2rem;
        margin-bottom: 0.25rem;
    }
    @include respond(mediumLaptop){
        font-size: 1.75rem;
        margin: 2rem;
        margin-bottom: 0.25rem;
    }
    @include respond(mediumDesktop){
        margin: 1rem;
    }
    @include respond(bigDesktop){
        margin: 1rem;
    }

}

.formSection{
    display: flex;
    flex-direction: column;
    gap: 4vh;
    min-width: 60vw;
}
.sectionRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    row-gap: 4vh;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.formLabel{
    color: $app-text-color;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

.longFormItem{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 100%;
    @include respond(smallLaptop){
        width: 22%;
    }
    @include respond(mediumLaptop){
        width: 22%;
    }
    @include respond(mediumDesktop){
        width: 22%;
    }
    @include respond(bigDesktop){
        width: 22%;
    }
}

.shortFormItem{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1vh;

    @include respond(smallLaptop){
        width: 9.875%;
    }
    @include respond(mediumLaptop){
        width: 9.875%;
    }
    @include respond(mediumDesktop){
        width: 9.875%;
    }
    @include respond(bigDesktop){
        width: 9.875%;
    }
}

.imageFormItem{
    display: flex;
    flex-direction: column;
    gap: 1vh;

    @include respond(smallLaptop){
        width: 48.5%;
    }
    @include respond(mediumLaptop){
        width: 48.5%;
    }
    @include respond(mediumDesktop){
        width: 48.5%;
    }
    @include respond(bigDesktop){
        width: 48.5%;
    }

}

.formInput{
    box-sizing: border-box;
    width: 100%;
    color: $app-text-color;
    padding: 0.5rem;
    text-align: start;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid $app-input-border;
    border-radius: 20px;
}

select.formInput option {
    background-color: #1e1e1e; 
    color: white; 
}

.formInputError{
    color: $app-error;
    font-family: sans-serif;
    font-size: 0.75;
    text-align: start;
    text-justify:distribute;
}

.statArticle{
    border: 1px solid $app-input-border;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    align-items: stretch;
    padding: 0vh 1.25vw;
    width: 100%;
    min-height: 100%; 
    @include respond(smallLaptop){
        width: 30%;
    }
    @include respond(mediumLaptop){
        width: 33%;
    }
    @include respond(mediumDesktop){
        width: 33%;
    }
    @include respond(bigDesktop){
        width: 33%;
    }
}
.statArticleTitle{
    padding: 0%;
    margin: 2vh;
    color: $app-text-color;
    font-family: sans-serif;
    text-align: center;
    font-size: 1.5rem;
}
.inputRangeItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1vh;
}

.inputRangeText{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10vw;
    @include respond(smallLaptop){
        gap:0;
    }
    @include respond(mediumLaptop){
        gap:0;
    }
    @include respond(mediumDesktop){
        gap:0;
    }
    @include respond(bigDesktop){
        gap:0;
    }
    
}
.inputRangeLabel{
    color: $app-text-color;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    text-wrap: wrap;
    margin-bottom:  0.5vh;
}
.inputRangeSpan{
    color: $app-text-color;
    font-family: sans-serif;
    text-align: end;
    font-weight: 400;
    font-size: 0.9rem;

}
.formFooter{
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    gap: 2rem;
    margin-top: 2.5vh;
    margin-bottom: 4vh;
    @include respond(smallLaptop){
        flex-direction:row;
    }
    @include respond(mediumLaptop){
        flex-direction:row
    }
    @include respond(mediumDesktop){
        flex-direction:row;
    }
    @include respond(bigDesktop){
        flex-direction:row;
    }
    
}

.searchFooterButton{
    background-color: $app-green-button;
    font-size: 1rem;
    font-weight: 500;
    font-family: Roboto;
    padding: 0.5rem;
    border-radius: 20px;
    border:none;
    cursor: pointer;
    @include respond(smallLaptop){
        padding: 0.5rem 1rem;
    }
    @include respond(mediumLaptop){
        padding: 0.5rem 1rem;
    }
    @include respond(mediumDesktop){
        padding: 0.45rem 0.45rem;
    }
    @include respond(bigDesktop){
        padding: 0.5rem 0.5rem;
    }
    
}