@import  "main";

.background{
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

.modal{
    padding: 1vh;
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: $app-boxes-background-color;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: fit-content;
    margin: 0vh 5vw;
    @include respond(smallLaptop){
        max-width: 40%;
    }
    @include respond(mediumLaptop){
        max-width: 40%;
    }
    @include respond(mediumDesktop){
        max-width: 30%;
    }
    @include respond(bigDesktop){
        max-width: 30%;
    }

}

.modalIcon{
    width: 6rem;
    height: 6rem;
    color: $app-green-button;
}
.modalErrorIcon{
    width: 10rem;
    height: 10rem;
    color: $app-error;
    align-self: center;
    justify-self: center;
}

.title{
    text-align: center;
    font-size: 2.5rem;
    font-family: sans-serif;
    color: $app-text-color;
    padding: 1rem;
    padding-bottom: 0rem;
    @include respond(smallLaptop){
        margin: 0.25rem;
    }
    @include respond(mediumLaptop){
        margin: 0.25rem;
    }
    @include respond(mediumDesktop){
        margin: 0.25rem;
    }
    @include respond(bigDesktop){
        margin: 0.25rem;
    }
}

.message{
    font-size: 1.5rem;
    text-align: center;
    color: $app-text-color;
    @include respond(smallLaptop){
        padding: 0.25rem;
        padding-bottom: 0rem;
    }
    @include respond(mediumLaptop){
        padding: 0.25rem;
        padding-bottom: 0rem;
    }
    @include respond(mediumDesktop){
        padding: 0.25rem;
        padding-bottom: 0rem;
    }
    @include respond(bigDesktop){
        padding: 0.25rem;
        padding-bottom: 0rem;
    }
}

.footer{
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    width: 100%;
    display: flex;
    @include respond(smallLaptop){
        padding: 0.75rem;
    }
    @include respond(mediumLaptop){
        padding: 0.75rem;
    }
    @include respond(mediumDesktop){
        padding: 0.75rem;
    }
    @include respond(bigDesktop){
        padding: 0.75rem;
    }
}

.singleFooter{
    align-items: center;
    justify-content: flex-end;
    padding: 2rem;
    display: flex;
    width: 100%;
    
    @include respond(smallLaptop){
        padding: 0.75rem;
    }
    @include respond(mediumLaptop){
        padding: 0.75rem;
    }
    @include respond(mediumDesktop){
        padding: 0.75rem;
    }
    @include respond(bigDesktop){
        padding: 0.75rem;
    }
}
.acceptButton{
    background-color: $app-green-button;
    font-size: 1.75rem;
    font-weight: 500;
    font-family: Roboto;
    padding: 0.5rem;
    width: 45%;
    border-radius: 20px;
    border:none;
    cursor: pointer;
    @include respond(smallLaptop){
        font-size: 1.35rem;
    }
    @include respond(mediumLaptop){
        font-size: 1.35rem;
    }
    @include respond(mediumDesktop){
        font-size: 1.35rem;
    }
    @include respond(bigDesktop){
        font-size: 1.35rem;
    }
    
}

.rejectButton{
    color:$app-green-button ;
    background-color: transparent;
    border: 1px solid $app-green-button ;
    font-size: 1rem;
    width: 45%;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 500;
    font-family: Roboto;
    padding: 0.5rem;
    border-radius: 20px;
    cursor: pointer;
    @include respond(smallLaptop){
        font-size: 1.35rem;
    }
    @include respond(mediumLaptop){
        font-size: 1.35rem;
    }
    @include respond(mediumDesktop){
        font-size: 1.35rem;
    }
    @include respond(bigDesktop){
        font-size: 1.35rem;
    }
}