@import "main";

.tableContainer{
    max-width: 95vw;
    margin: 0 auto;
    overflow: scroll;

}
.table{
    margin-top: 4vh;
    table-layout: auto;
    height: 100%;
    max-width: 100%;
    justify-self: center;
    align-self: center;
    overflow: auto;
    border-collapse: collapse;
}

.columnHeader{
    background-color: #0C0C0C;
    color: #A6F0C7;
    white-space: nowrap;
    cursor: pointer;
}

.columnHeaderCell{
    font-family: sans-serif;
    padding: 0.5rem;
    font-size: 1.35rem;
    min-width: 75px;
    border: none;
    white-space: nowrap;
    @include respond(smallLaptop){
        padding: 0.25rem 0.13rem;
        font-size: 1rem;
    }
    @include respond(mediumLaptop){
        padding: 0.25rem  0.13rem;
        font-size: 1rem;
    }
}

span{
    width: 100%;
}

.arrowIcon{
    width: 1.2rem;
    height: 1.2rem;
}

.arrowUp{
    transform: rotate(180deg);
}

.tableRow{
    color: $app-text-color;
    background-color: transparent;
    border-bottom: 1px solid $app-input-border;
    font-weight: medium;
    font-family: Inter;
}   

.tableRowCell{
    text-align: center;
    max-width: 200px;
    padding: 0.5rem 0.1rem
    ;@include respond(smallLaptop){
        padding: 0.3rem;
        font-size: 0.9rem;
    }
    @include respond(mediumLaptop){
        padding: 0.1rem;
        font-size: 0.9rem;
    }
}

.iconCell {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .optionsIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: #444;
    transition: transform 0.2s ease;
  
  }
  .optionsIcon:hover{
      transform: scale(1.1);
      color: #000;
  }
  
  .optionsMenu {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 140px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
    z-index: 999;
  
}
.menuItem {
    padding: 8px 12px;

    cursor: pointer;
    background-color: $app-background-color;
}

.menuItem:hover {
    background-color: #888
}

.footer{
    width: 100%;
    justify-content: center;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    color: $app-text-color;
    font-family: Inter;
    font-weight: 500;
    ;@include respond(smallLaptop){
        gap: 1.3rem;
    }
    @include respond(mediumLaptop){
        gap: 1.3rem;
    }
    @include respond(desktop){
        gap: 1.3rem;
    }
    @include respond(bigDesktop){
        gap: 1.3rem;
    }
}

.footerItem{
    width: 1.2rem;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0.4rem 0.15rem;
    height: 1.2rem;
    cursor: pointer;
}

.selectedPage{
    color: $app-green-button;
    background-color: $app-input-border;
    border-radius: 20px;
}

.feedback{
    color: $app-text-color;
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    padding-top: 7.5vh;
    align-self: center;
    width: 40vw;
    margin-left: 30vw;
    margin-right: auto;
    text-align: center;
}

.feedbackIcon{
    max-height: 10rem;
    max-width: 10rem;
    align-self: center;
}

.feedbackLabel{
    font-size: 3rem;
}

.skeleton {
    background: linear-gradient(90deg, #474343 25%, #ddd 37%, #eee 63%);
    background-size: 400% 100%;
    animation: shine 1.5s ease infinite;
    border-radius: 4px;
    height: 20px;
  }
  
  @keyframes shine {
    0% { background-position: 100% 0; }
    100% { background-position: -100% 0; }
  }